.crearTareas__contenedor {
    background-color: var(--azul);
    width: 100%;
    padding: 20px;
}

.crearTareas__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.crearTareas__volver {
    font-size: 20px;
    color: white;
}

.crearTareas__configuracion {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    outline-width: 0;
}

.crearTareas__proyecto {
    text-align: center;
    color: white;
    font-size: 22px;
}

.crearTareas__titulo {
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-decoration: underline;
    text-transform: capitalize;
}

.crearTareas__formulario {
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .crearTareas__volver {
        font-size: 25px;
        margin-left: 30px;
        transition: all 0.2s ease;
    }

    .crearTareas__configuracion {
        font-size: 25px;
        margin-right: 30px;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .crearTareas__configuracion:hover {
        transform: rotate(-60deg);
        transition: all 0.2s ease;
    }

    .crearTareas__volver:hover {
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }

    .crearTareas__titulo {
        font-size: 30px;
    }

}

/* -- LISTA TAREAS -- */

.listaTareas__contenedor {
    width: 100%;
    padding: 10px;
}

/* -- TARJETA TAREAS -- */

.tarjetaTarea__contenedor {
    box-shadow: var(--sombra);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.tarjetaTarea__nombre {
    font-size: 20px;
    color: var(--negro);
    /* margin-left: 10px; */
}

.tarjetaTarea__botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tarjetaTarea__estado {
    border: none;
    font-size: 16px;
    width: 110px;
    padding: 5px 0;
    color: white;
    border-radius: 10px;
}

.tarjetaTarea__estado-completo {
    background-color: var(--verde);
}

.tarjetaTarea__estado-incompleto {
    background-color: var(--rojo);
}

.tarjetaTarea__eliminar {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--rojo);
}

@media (min-width: 768px) {
    .tarjetaTarea__contenedor {
        width: 700px;
        margin: auto;
        margin-top: 40px;
    }

    .tarjetaTarea__nombre {
        font-size: 25px;
    }

    .tarjetaTarea__opciones {
        margin-top: 20px;
    }

    .tarjetaTarea__estado {
        cursor: pointer;
        transition: ease 0.2s all;
    }

    .tarjetaTarea__estado:hover {
        transform: translateY(-3px);
        transition: ease 0.2s all;
    }

    .tarjetaTarea__eliminar {
        cursor: pointer;
        transition: ease 0.2s all;
    }

    .tarjetaTarea__eliminar:hover {
        transform: translateY(-3px);
        transition: ease 0.2s all;
    }
}

/* -- CONFIGURACIÓN PROYECTO -- */

.configuracionProyecto__contenedor-activo {
    position: fixed;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.configuracionProyecto__contenedor{
    position: fixed;
    left: 100%;
    width: 100%;
    top: 0;
}

.configuracionProyecto__volver{
    font-size: 20px;
    color: var(--azul);
    background-color: transparent;
    border: none;
    outline-width: 0;
}

.configuracionProyecto__titulo{
    text-align: center;
    text-transform: capitalize;
    color: var(--negro);
    margin-top: 50px;
}

.configuracionProyecto__eliminar{
    margin-top: 200px;
}

.configuracionProyecto__eliminar > p{
    font-weight: 700;
    font-size: 20px;
    color: var(--negro);
    text-align: center;
}

@media(min-width: 768px){

    .configuracionProyecto__eliminar{
        margin-top: 150px;
    }

    .configuracionProyecto__volver{
        font-size: 25px;
        margin-left: 30px;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .configuracionProyecto__volver:hover{
        transition: all 0.2s ease;
        transform: translateY(-3px);
    }
}
