.login__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

.login__error {
    margin: auto;
    margin-top: 20px;
    background-color: var(--rojo);
    color: white;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.login__formulario {
    box-shadow: var(--sombra);
    border-radius: 10px;
    width: 90%;
    padding: 30px;
    margin-bottom: 10px;
}

.login__p {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.login__input {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 30px;
    border: none;
    border-bottom: solid 1px #e1e1e1;
    font-size: 18px;
    outline-width: 0;
}

.login__contenedorOlvideClave {
    margin-top: 20px;
    text-align: right;
}

.login__ContenedorCrearCuenta {
    margin-top: 20px;
}

.login__boton {
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    color: var(--negro);
    text-decoration: none;
}

.login__submit {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--azul);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 0;
}

.recuperarPassword__contenedor-activo {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.5);
}

.recuperarPassword__contenedor {
    display: none;
}

.recuperarPassword__formulario {
    border-radius: 10px;
    width: 90%;
    padding: 30px;
    margin: auto;
    margin-top: 35vh;
    background-color: white;
}

.recuperarPassword__volver {
    text-align: right;
}

.recuperarPassword__volver > button {
    background-color: transparent;
    border: none;
    color: var(--negro);
    font-size: 20px;
}

.recuperarPassword__p {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}

.recuperarContraseña__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #e1e1e1;
    margin-top: 30px;
    font-size: 16px;
    outline-width: 0;
}

.recuperarContraseña__boton {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--azul);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 0;
}

@media (min-width: 768px) {
    .login__formulario {
        width: 660px;
    }

    .recuperarPassword__formulario {
        width: 660px;
    }

    .recuperarPassword__volver > button {
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .recuperarPassword__volver > button:hover {
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }
}
